body{
    background-color: black;
    color: white;
    font-family:'Verdana';
    margin: -8px;
}
header{
    background-color: white;
    color: rgb(138, 138, 138);
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.pictures{
    margin-left: 700px;
}
.site{
    background: url(../IMG/RE2.png);
    background-repeat:no-repeat;
    background-size: 30% 119%;
    background-position: 75% 0;
    }
.glava{
    height: 0.8cm;
}
.second{
    background-color: white;
    color: black;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.next{
    display: flex;
    align-items: center;
    margin-right: 400px;
}
.news{
      display: flex;
}
.news p{
    margin-right: 20px;
}
.main{
    margin-left: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.otzeuv{
    height: 15px;
}
.Psplus{
    color: #f4d10a
}
.notincluded{
    color: #989898
}
.price{
    background-color: #1F2024;
    width: 30%;
    margin-top: 40px;
    margin-left: 40px;
}
.console{
    display: flex;
}
.console p{
    border: 1px white solid;
}
.ps{
    margin-left: 5px;
}
fieldset{
    border:none;
}
.c{
    display: flex;
    align-items: baseline;
}
.Massive{
    font-size: 40px;
}
.big{
    font-size: 21px;
}
.sub{
    display: flex;
    justify-content: center;
}
