body{
    background-color: rgb(133, 170, 186);
    color: white;
}
header{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.glava{
    height: 0.8cm;
}
.second{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.next{
        margin-right: 20px;
}
