<!-- {% load static %} -->
<!-- Улсуги Диагностического центра ТНВД -->
<div class="service_all">
    <div>
        <div class="service_text1"></div>
        <div class="service_text2"></div>
        <div class="repair">
            <div class="forges_repair">
                <img src="" alt="">
                <p>Ремонт форсунок</p>
            </div>
            <div class="fuel_pump_repair">
                <img src="" alt="">
                <p>Ремонт ТНВД</p>
            </div>
            <div class="pump_maintenance">
                <img src="" alt="">
                <p>Обслуживание плунжеров</p>
            </div>
        </div>
    </div>
</div>