body{
    background-color: black;
    color: white;
    font-family:'Verdana';
    font-stretch: condensed;
    margin: 0px;
}
header{
    background-color: white;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.pictures{
    margin-left: 390px;
}

.glava{
    height: 0.8cm;
    margin-right: 8px;
}
.second{
    background-color: white;
    color: black;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.next{
    margin-right: 400px;
    display: flex;
    align-items: center;
}
.news{
      display: flex;
}
.news p{
    margin-right: 20px;
}
.main{
    margin-top: 30px;
    margin-left: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.otzeuv{
    height: 15px;
}
.Psplus{
    color: #f4d10a
}
.notincluded{
    color: #989898
}
.price{
    background: linear-gradient( to right,#1f2024, #414249);
    margin-left: 40px;
    width: 30%;
}
.console{
    display: flex;
    align-items: center;
}
.console1{
    margin-left: 7.5px;
    border: 1px white solid;
}
.ps{
    margin-left: 5px;
}
fieldset{
    border:none;
}
.c{
    display: flex;
    align-items: baseline;
}
.Massive{
    font-size: 40px;
}
.big{
    font-size: 21px;
}
.sub{
    background-color: #d63d00;
    border-radius: 20px;
    height: 35px;
    width: 200px;
    margin-left: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub:hover{
    background-color: #bc3500;
}
.noline1{
    color: rgb(138, 138, 138);
    text-decoration: none;
    margin-left: 10px;
}
.noline1:hover{
    color:  rgb(56, 81, 190);
}
.noline{
    color: rgb(138, 138, 138);
    text-decoration: none;
}
.noline:hover{
    color:  rgb(56, 81, 190);
}