<!DOCTYPE html>
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="{% static 'css/Main_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/SignUp.css' %}">
    <link rel="shortcut icon" href="{% static 'images/car_icon.png' %}" type="image/x-icon">
</head>

<body>
    <div class="Registration">
        <form method="get" action="">
            <input type="text" placeholder="First_Name" class="First_Name">
            <input type="text" placeholder="Last_Name" class="Last_Name">
            <input type="text" placeholder="Login" class="Login">
            <input type="password" placeholder="Login" class="Password">
            <button type="submit">
                <p>Sign Up</p>
            </button>
        </form>
    </div>
</body>

</html>